<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <title>Demo Smarty</title>
</head>
<body>
Hello {$name} wellcome to Smarty
</body>
</html>