*{
    margin: 0 auto;
}
.contain-head{
    width: 100%;
    height: 798px;
}
.banner{
    background: linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, #000000 100%), linear-gradient(360deg, rgba(0, 0, 0, 0) 0%, #000000 100%), linear-gradient(90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.256076) 14.9%, rgba(0, 0, 0, 0.203942) 32.59%, rgba(0, 0, 0, 0.145406) 52.44%, rgba(0, 0, 0, 0.0969304) 68.89%, rgba(0, 0, 0, 0.0548574) 83.16%, rgba(0, 0, 0, 0) 101.77%), url("../image/74bb4241449e1e6959f60fc668e4534f.jpeg");
    background-size: cover;
    width: 100%;
    height: 798px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    position: absolute;
    z-index: -1;
}
.head{
    margin-left: 7%;
    margin-right: 7%;
    /*height: 732px;*/
    height: 100%;
    /*position: absolute;*/
    z-index: 1;
}
.head-text-h2{
    font-family: 'Visby CF';
    font-style: normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 84px;
    text-transform: uppercase;
    color: #FDFDFD;
}
.head-text-h1{
    font-family: 'MADE Mirage';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */
    color: #FDFDFD;
}
.head-text{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 166.6%;
    color: rgba(253, 253, 253, 0.83);
}
.head-text-button{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 166.6%;
    color: rgba(253, 253, 253, 0.83);
    text-decoration-line: underline;
}
.head-border-image{
    width: 525px;
    height: 612px;
    margin-top: -40px;
    position: absolute;
    border: 2px solid #F44D9B;
    border-radius: 46% 46% 0px 0px;
    z-index: -1;
}
.contain-head .image-matrix{
    width: 495px;
    height: 628px;
    position: absolute;
    z-index: 1;
    border-radius: 46% 46% 0px 0px;
    margin-top: -28px;
    margin-left: 8px;
    margin-right: 18px;
    /*margin: px 8px 0px 8px;*/
}

.polygon{
    width: 525px;
    height: 612px;
    margin-left: 0px;
}
.polygon .icon-play{
    width: 93px;
    height: 93px;
    background-image: url("../image/polygon.png");
    position: relative;
    z-index: 1;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 47%;
    left: 40%;
}

.switch-1 {
    height: 9px;
    width: 26px;
    background: #F44D9B;
    border-radius: 7px;
}

.switch-2 {
    height: 9px;
    width: 9px;
    border-radius: 7px;
}

.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 40px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #FDFDFD;
}
.join-us{
    width: 103px;
    height: 46px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #FDFDFD;
    margin-right: 20px;
    border-radius: 8px;
}

.find-out-more{
    width: 153px;
    height: 46px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #FDFDFD;
    margin-right: 20px;
    border-radius: 8px;
}

.contain-content{
    height: 1316px;
    width: 100%;
    background: #202224;
    padding-top: 116px;
    padding-bottom: 80px;
}

.content{
    margin-left: 7%;
    margin-right: 7%;
}

.content .text-h1{
    font-family: 'MADE Mirage';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    /* identical to box height */
    color: #FFFFFF;
}

.content .text-label{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 148.5%;
    /* identical to box height, or 21px */

    color: rgba(255, 255, 255, 0.8);
}
.box-grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    column-gap: 24px;
}
.item-box{
    text-align: left;
    height: 224px;
    /*width: 282px;*/
    width: 100%;
    border-radius: 16px;
}

.item-box-live-content{
    text-align: left;
    height: 269px;
    /*width: 282px;*/
    width: 100%;
    border-radius: 12px 12px 0px 0px;
}

.item-box-live-bottom{
    text-align: left;
    height: 63px;
    /*width: 282px;*/
    width: 100%;
    border-radius: 0px 0px 12px 12px;
    background: #292B2E;
}

.item-box-live-bottom .thumbnail img{
    height: 36px;
    width: 36px;
    border-radius: 45%;
    position: absolute;
    margin-top: 14px;
    margin-left: 12px;
}

.item-box-live-bottom .text-name{
    font-family: 'Nexa-Bold';
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;

    position: absolute;
    margin-top: 14px;
    margin-left: 60px;
}

.item-box-live-bottom .text-name-1{
    font-family: 'NexaRegular';
    font-size: 12px;
    line-height: 14px;
    display: flex;
    align-items: center;

    color: rgba(255, 255, 255, 0.53);
    position: absolute;
    margin-top: 40px;
    margin-left: 60px;
}

.item-box-live{
    text-align: left;
    height: 332px;
    width: 100%;
}

.item-box .premium{
    position: absolute;
    width: 50px;
    height: 15px;
    margin: 16px;

    background: #F44D9B;
    border-radius: 8px;
    padding: 6px 10px;

    font-family: 'MADE Mirage';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    color: #FDFDFD;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.item-box .text-bottom{
    position: absolute;
    height: 21px;
    font-family: 'Nexa-Bold';
    font-size: 16px;
    line-height: 19px;
    color: #FDFDFD;

    margin-left: 16px;
    margin-bottom: 16px;
    margin-top: 156px;
}

.item-box .box-icon-play{
    width: 36px;
    height: 36px;
    position: relative;
    z-index: 1;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    top: 47%;
    left: 40%;
}

.item-box-live .live{
    position: absolute;
    width: 33px;
    height: 24px;
    margin: 16px;

    background: rgba(253, 253, 253, 0.8);
    border-radius: 6px;
    padding-left: 26px;
    padding-top: 3px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #F33D44;
    flex: none;
    order: 1;
    flex-grow: 0;
}

.item-box-live .circle{
    box-sizing: border-box;
    position: absolute;
    width: 16px;
    height: 16px;

    background-image: url("../../source/image/home/circle.png");
    left: 6px;
    top: 5.5px;
}


.item-1{
    background-image: url("../../source/image/home/25eb27c838b252450da109f0ef132cf5.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
}
.item-2{
    background-image: url("../../source/image/home/8c56850943ee707543c3eeb9add890aa.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.item-3{
    background-image: url("../../source/image/home/18a4c8864f1bcd8656f5173da3a41cc6.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.item-4{
    background-image: url("../../source/image/home/9460cdf2696f25e929481f5ff7a7c67a.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.item-5{
    background-image: url("../../source/image/home/4a3e33d19529000091a92916ac42e5c9.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.item-6{
    background-image: url("../../source/image/home/341319b4d45021a466a2335453c99149.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.item-7{
    background-image: url("../../source/image/home/532be0f2f8c8481375457e9755f22028.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.item-8{
    background-image: url("../../source/image/home/fb6c2ec1a5cfcde59e1427d7fb4f03ca.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.item-box img{
    height: 208px;
    width: 266px;

}

.all-video{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #F44D9B;
}

.content .banner-content{
    padding-left: 64px;
    width: auto;
    height: 360px;
    background-image:  linear-gradient(rgba(0, 0, 0, 0.74) 0%, rgba(0, 0, 0, 0.631655) 14.9%, rgba(0, 0, 0, 0.503058) 32.59%, rgba(0, 0, 0, 0.358668) 52.44%, rgba(0, 0, 0, 0.239095) 68.89%, rgba(0, 0, 0, 0.135315) 83.16%, rgba(0, 0, 0, 0) 101.77%), url("../../source/image/home/581b1a121715aac960f8282791214027.jpeg");
    border-radius: 16px;
    background-size: cover, cover;
    background-repeat: no-repeat, no-repeat;
    background-position: center;
    padding-top: 36px;

    margin-top: 71px;
}

.content .text-banner-title{
    font-family: 'MADE Mirage';
    font-style: normal;
    font-weight: 500;
    font-size: 26px;
    line-height: 176.5%;
    /* identical to box height, or 46px */
    color: #FDFDFD;
}

.content .text-banner-h1{
    font-family: 'Visby CF';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 75px;
    color: #FFFFFF;
}


.content .text-banner-h1{
    font-family: 'Visby CF';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 75px;
    color: #FFFFFF;
}

.content .text-banner{
    width: 448px;
    height: 63px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 148.5%;
    /* or 21px */
    color: rgba(255, 255, 255, 0.8);
}

.content .button-banner{
    width: 138px;
    height: 46px;
    text-align: center;

    background: #F44D9B;
    border-radius: 8px;
    margin-top: 24px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    color: #FDFDFD;
}

.contain-menu{
    height: 798px;
    width: 100%;
    background-color: lightblue;
}

.menu{
    margin-left: 7%;
    margin-right: 7%;
}

.menu-background{
    background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.74) 0%, rgba(0, 0, 0, 0.631655) 14.9%, rgba(0, 0, 0, 0.503058) 32.59%, rgba(0, 0, 0, 0.358668) 52.44%, rgba(0, 0, 0, 0.239095) 68.89%, rgba(0, 0, 0, 0.135315) 83.16%, rgba(0, 0, 0, 0) 101.77%), url("../../source/image/home/bg_Alternative.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat, no-repeat, no-repeat;
    height: 798px;
    width: 100%;
}

.menu-image{
    position: absolute;
    width: 744px;
    height: 526px;
    left: 696px;
    top: 2511px;

    background-image: url("../../source/image/home/img_Alternative.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.content-menu-image{
    position: absolute;
    margin-top: 410px;
    width: 100%;
    height: 116px;

    background: rgba(0, 0, 0, 0.49);
    backdrop-filter: blur(8px);
    /* Note: backdrop-filter has minimal browser support */
}

.content-menu-image-item{
    padding-top: 25px;
    padding-left: 23px;
    background-color: #F33D44;
}


.content-menu-image .text-grid-item-h1{
    position: absolute;
    font-family: 'MADE Mirage';
    font-style: normal;
    font-weight: 900;
    font-size: 32px;
    line-height: 42px;
    /* identical to box height */
    color: #FFFFFF;

    margin-left: 23px;
    margin-top: 25px;
}

.content-menu-image .text-grid-item-nor{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 166.6%;
    color: #FFFFFF;

    font-family: 'MADE Mirage';
    margin-left: 23px;
    margin-top: 62px;
}

.menu .text-menu-header{
    position: absolute;
    width: 515px;
    height: 46px;
    left: 120px;
    top: 2374px;

    font-family: 'MADE Mirage';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
}

.menu .text-menu-label{
    position: absolute;
    width: 394px;
    height: 21px;
    left: 120px;
    top: 2436px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 148.5%;
    /* identical to box height, or 21px */

    color: rgba(255, 255, 255, 0.8);
}

.menu ul{
    position: absolute;
    width: 464px;
    height: 460px;
    left: 120px;
    top: 2544px;
}

.menu li{
    font-family: 'Visby CF';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 50px;
    margin-bottom: 30px;
    /* identical to box height */


    color: rgba(255, 255, 255, 0.23);

    flex: none;
    order: 1;
    flex-grow: 0;
}



.menu .li-hover{
    font-family: 'Visby CF';
    font-style: normal;
    font-weight: 900;
    font-size: 46px;
    line-height: 72px;
    color: #FDFDFD;
}

.contain-recent-post{
    height: auto;
    width: 100%;
    padding-top: 76px;
    background: #202224;;
}
.recent-post{
    margin-left: 7%;
    margin-right: 7%;
}
.text-recent-post-h1{
    font-family: 'MADE Mirage';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    color: #FFFFFF;
}
.text-recent-post-head{
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #F44D9B;
    margin-top: 10px;
    float: right;
}
.box-recent-post{
    height: auto;
    width: 100%;
    background: #1E1E1E;
    border-radius: 9px;
    margin-top: 24px;
}

.box-recent-post-text-h1{
    position: absolute;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;

    margin-top: 3px;
    margin-left: 21px;
}

.box-recent-post-text-nor{
    position: absolute;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #FFFFFF;

    margin-top: 35px;
    margin-left: 21px;
}

.box-recent-post-text-share{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
}

.contain-box-recent-post{
    padding: 23px 32px 36px 32px;
}

.background-box-recent-post{
    background-image: url("../../source/image/home/recent-post-3.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 12px;
    height: 488px;
    margin-top: 20px;
}

.box-recent-post-thumbnail{
    height: 52px;
    width: 52px;
    border-radius: 45%;
}

.box-icon-social{
    margin-top: 24px;
    margin-bottom: 30px;
}

.box-icon-social img{
    margin-right: 6px;
    margin-bottom: -3px;
}
/*-------------------------------30/3/23------------------------------------*/
.box-recent-post-comment{
    margin-bottom: 12px;
    background-color: lightblue;
}

.box-recent-post-comment-thumbnail{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    float: left;
}

.box-recent-post-comment-content{
    width: calc(100% - 50px);
    background: #282828;
    border-radius: 5px;
    float: right;
}

.box-recent-post-comment-content .text-nor{
    display: inline;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 139.5%;
    color: #FFFFFF;
    opacity: 0.8;
}


.text-right{
    text-align: right;
}

.text-left{
    text-align: left;
}
.d-none{
    display: none;
}
.row::after {
    content: "";
    clear: both;
    display: table;
    justify-content: space-between;
}

[class*="col-"] {
    float: left;
}

[class*="col-"] {
    width: 100%;
}


@media only screen and (min-width: 350px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}