body{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    height:100%;
    margin: 0;
    padding: 0;
    background: #202224 !important;
}
.form-login{
    margin-top: 137px;
    margin-bottom: 137px;
    height: 750px;
    width: 600px;
    border-radius: 24px;
    background: #282828;
    box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.3);
    padding: 66px 74px;
}
.text-h1-1{
    font-family: 'MADE Mirage';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #FDFDFD;
}
.text-h1-2{
    font-family: 'MADE Mirage';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 42px;
    color: #F44D9B;
}
.text-h2{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 170%;
    color: #FDFDFD;
}
.text{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: rgba(253, 253, 253, 0.6);
}
.text-1{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #FFFFFF;
}
.text-pink{
    font-family: 'Manrope';
    font-style: normal;
    font-size: 16px;
    line-height: 170%;
    color: #F44D9B;
}
#hr{
    border: 1px solid rgba(253, 253, 253, 0.1);
}
input[type='radio']{
    height: 20px;
    width: 20px;
    position: absolute;
    margin-right: 12px;
    border-color: #F44D9B;
}
.radio-item label{
    margin-left: 25px;
}

.radio-item input[type=radio]:checked {
    accent-color: #F44D9B;;
}

input[type="checkbox"]{
    appearance: none;
    border: 1px solid #F44D9B;
    width: 21px;
    height: 21px;
    content: none;
    outline: none;
    margin: 0;
    background: #282828;
    border-radius: 3px;
}

input[type="checkbox"]:checked {
    appearance: none;
    outline: none;
    padding: 0;
    content: none;
    border: none;
}
input[type="checkbox"]:checked::before{
    width: 21px;
    height: 21px;
    position: absolute;
    color: #F44D9B !important;
    content: "\00A0\2713" !important;
    border: 1px solid #F44D9B;
    border-radius: 3px;
    font-weight: bolder;
    accent-color: #F44D9B;;
}

#label-remember-me{
    margin-left: 5px;
    margin-top: 5px;
}

button[type=submit]{
    background-color: #F44D9B;
    color: #FDFDFD;
    border-color: #F44D9B;
}
