*{
    margin: 0 auto;
}
.contain-head{
    width: 100%;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../image/74bb4241449e1e6959f60fc668e4534f.jpeg");
    /*filter: brightness(70%);*/
}
.head{
    height: 798px;
    margin-left: 7%;
    margin-right: 7%;
}
.image-head{
    background-image: url("../image/79e8ece6a53f19387cd4b63105b59119.jpeg");
    background-size: cover;
    width: 1023px;
    height: 565px;
    border-radius: 22px;
    border: 1px solid pink;

    flex-flow: row nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

}
.icon-play{
    width: 93px;
    height: 93px;
    background-image: url("../image/polygon.png");

    margin: 0;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}
.text-h1{
    font-family: 'MADE Mirage';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 47px;
    /* identical to box height */
    color: #FDFDFD;
}
.grid-container{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 40px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #FDFDFD;
}
.login button{
    width: 103px;
    height: 46px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #FDFDFD;
    margin-right: 20px;
    border-radius: 8px;
}
/*//-------------------------*/
.contain-body{
    height: 1338px;
    background-color: #101010;
    /*padding: 96px 0px;*/
    /*align-content: center;*/
    /*text-align: center;*/
}
.body{
    margin-left: 7%;
    margin-right: 7%;
    text-align: center;
}

/*---------------------------------15/3*/
.join-now{
    /*background-color: yellow;*/
    height: 150px;
    width: 450px;
    /*padding-top: 50px;*/
}
.join-now .join-now-left{
    width: 33%;
    float: left;
    padding-top: 50px;
    text-align: right;
    padding-right: 25px;
}
.join-now .join-now-right{
    width: 66%;
    float: right;
    text-align: left;
    /*padding-top: 75px;*/
}
#heart-1{
    height: 44px;
    width: 43px;
}
#heart-2{
    height: 29px;
    width: 28px;
}

.body span{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */

    text-align: center;

    color: rgba(253, 253, 253, 0.8);
}

.join-now h1{
    font-family: 'MADE Mirage';
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    line-height: 150%;
    color: #FDFDFD;
    /*align-content: center;*/
    /*text-align: center;*/
}

.left{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    color: rgba(253, 253, 253, 0.8);
    width: 40%;
    height: 888px;
    background: #282828;
    border-radius: 24px;
    float: left;
    padding: 54px 45px 44px 45px;
    text-align: left;
}

.right{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 150%;
    /* or 30px */
    color: rgba(253, 253, 253, 0.8);
    width: 40%;
    height: 888px;
    background: #282828;
    border-radius: 24px;
    float: right;
    padding: 54px 100px 0px 45px;
    text-align: left;
}

.contain-body h1{
    font-family: 'MADE Mirage';
    font-style: normal;
    font-weight: 500;
    font-size: 42px;
    line-height: 150%;
    /* identical to box height, or 63px */
    color: #FDFDFD;
}

.left input{
    width: 96%;
    height: 50px;

    background: #1E1E1E;
    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 8px;
    padding: 14px 24px;
}

.left input[type=checkbox]{
    width: 21px;
    height: 21px;
    border: 2px solid #F44D9B;
    accent-color: #1E1E1E;
    /*background-color: #202224;*/
}

[type=checkbox]::before {
    background-color: #202224;
    /*content: 'a text before';*/
}

.text-checkbox{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
}

select{
    width: 96%;
    height: 50px;
    color: #FDFDFD;

    background: #1E1E1E;
    border: 1px solid rgba(255, 255, 255, 0.04);
    border-radius: 8px;
    padding: 10px 20px;
}
select,
select option {
    color: rgba(253, 253, 253, 0.4);
}

select:invalid,
select option[value=""] {
    color: #999999;
}

button[type=submit]{
    background-color: #F44D9B;
    color: #FDFDFD;
}

.form-group{
    margin-top: 36px;
}

.right .row{
    margin-top: 35px;
}

.contain-bottom{
    background-color: #292B2E;
    padding-top: 80px;
}

.contain-bottom .contain{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    width: 78%;
    border-radius: 7px;
    color: #FDFDFD;
}
.signup-now{
    padding: 12px 24px;
    width: 161px;
    height: 51px;
    background: #FDFDFD;
    border-radius: 8px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    color: #F44D9B;
}
.row h2{
    font-family: 'MADE Mirage';
    font-style: normal;
    font-weight: 500;
    font-size: 36px;
    line-height: 46px;
    color: #FDFDFD;
}

.row .text{
    font-family: 'Nexa';
    font-size: 16px;
    line-height: 19px;
    color: rgba(253, 253, 253, 0.6);
}

#text-email-address{
    width: 350px;
    height: 49.92px;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    border-radius: 8px;
    padding: 14px 24px;
    margin-right: 15px;
}

#btn-join{
    height: 49px;
    width: 153px;
    background: #F44D9B;
    color: rgba(253, 253, 253, 0.8);
    border: 1px solid #E9E9E9;
    border-radius: 8px;
    padding: 14px 24px;
}
.list-category{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    color: rgba(253, 253, 253, 0.8);
}
.image-social{
    height: 27px;
    width: 27px;
    border-radius: 17px;
    margin-right: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;
    justify-content: space-between;
}

[class*="col-"] {
    float: left;
}

[class*="col-"] {
    width: 100%;
}


@media only screen and (min-width: 350px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}