*{
    margin: 0 auto;
}
.contain-head {
    width: 100%;
    background: #101010;
    /*filter: brightness(70%);*/
}

.text-normal{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #FDFDFD;
}

.text-normal-box{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #F44D9B;
}
.grid-container{
    grid-template-columns: auto auto auto;
    column-gap: 40px;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #FDFDFD;
}
.head-right button{
    width: 103px;
    height: 46px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
    /* identical to box height */
    color: #FDFDFD;
    margin-right: 20px;
    border-radius: 8px;
}
.image-panel{
    padding-left: 7%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 0.8;
}

.contain-body{
    width: 100%;
    background: #202224;
    padding-top: 64px;
    padding-bottom: 157px;
}
.box{
    background: #282828;
    border-radius: 10px;
    margin-bottom: 64px;
    margin-left: 7%;
    margin-right: 7%;
}
.box-grid{
    display: grid;
    grid-column-gap: 24px;
}

.box-grid-1{
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-column-gap: 24px;
}
.item-box-1{
    background: rgba(255, 255, 255, 0.07);
}
.item-box-2{
    background: rgba(255, 255, 255, 0.07);
    grid-area: A;
    width: 100%;
}
.item-box-3{
    background: rgba(255, 255, 255, 0.07);
    grid-area: B;
    width: 100%;
}

.item-box{
    background: rgba(255, 255, 255, 0.07);
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;

    width: 100%;
    color: #F44D9B;
    border-radius: 12px;

    padding-top: 28px;
    /*margin-right: 24px;*/
    /*margin-bottom: 36px;*/
}

.bottom-1{
    padding-left: 8%;
    padding-right: 8%;
}
.contain-bottom-1{
    width: 100%;
    background: #C00C6D;
    border-radius: 20px;
    margin-top: -123px;
    height: 203px;
    position: relative;
    z-index: 1;
}
.contain-bottom-1 img{
    height: 119px;
    width: 119px;
    margin: 42px 37px;
    float: left;
}
.contain-bottom-1 .content{
    float: left;
    margin-top: 50px;
}

.contain-bottom-1 .hug{
    width: 335px;
    height: 37px;
    float: right;
    margin: 76px 36px;
    background: #FDFDFD;
    border-radius: 8px;
    text-align: center;

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    color: #F44D9B;
    padding: 12px 0px;
}



.content h1{
    font-family: 'MADE Mirage';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 31px;
    color: #FDFDFD;
}
.content .text-normal{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    color: #FDFDFD
}

.bottom-2{
    padding-left: 7%;
    padding-right: 7%;
    background-color: #292B2E;
}
.contain-bottom-2{
    margin-top: -80px;
    padding-top: 161px;
    height: 604px;
    position: relative;
    z-index: 0;
}

.row::after {
    content: "";
    clear: both;
    display: table;
    justify-content: space-between;
}

[class*="col-"] {
    float: left;
}

[class*="col-"] {
    width: 100%;
}


@media only screen and (min-width: 350px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}

    .box{
        padding: 24px 16px;
    }
    .box .text-h1{
        font-size: 20px;
    }
    .box-grid{
        padding-top: 24px;
        grid-template-columns: auto;
        grid-row-gap: 16px;
    }
    .item-box{
        text-align: left;
        height: 48px;
    }
    .icon{
        width: 24px;
        height: 24px;
        margin-left: 12px;
        margin-bottom: -7px;
    }
    .head-center{
        display: none;
    }
    .menu{
        width: 28px;
        height: 28px;
        margin-top: 6px;
    }
    .head-right{
        display: none;
    }
    .vector{
        height: 16px;
        width: 15px;
    }
    .text-h1{
        font-family: 'MADE Mirage';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 47px;
        /* identical to box height */
        color: #FDFDFD;
    }
    .head{
        height: 66px;
        margin-left: 7%;
        margin-right: 7%;
    }

    .children-head-right{
        float:right;
        margin-top: 15px;
    }
    .children-head-left{
        float: left;
        margin-top: 16px;
    }

    .image-panel {
        height: 93px;
        padding-top: 16px;
        background-image: url("../../source/image/admin_page/67343fe8c16cac70b3ab6bd99b0f0c39.jpeg");
    }
    .image-panel .text-h1{
        font-size: 18px;
    }
    .image-panel .text-normal{
        font-size: 12px;
        line-height: 5px;
    }

}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
    .box{
        padding: 46px 58px 74px 58px;
    }
    .box .text-h1{
        font-size: 30px;
    }
    .box-grid{
        padding-top: 36px;
        grid-template-columns: auto auto auto auto;
        grid-row-gap: 36px;
    }
    .item-box{
        text-align: center;
        height: 56px;
    }
    .item-box-1{
        text-align: center;
        height: 56px;
    }
    .icon{
        width: 32px;
        height: 32px;
        margin-left: 0px;
        margin-bottom: -7px;
    }
    .head-center{
        display: grid;
    }
    .head-left .menu{
        text-align: right;
        padding-top: 15px;
        display: none;
        width: 28px;
        height: 28px;
    }
    .head-right{
        display: block;
        text-align: right;
    }
    .vector{
        height: 16px;
        width: 15px;
        margin-left:12px;
        display: none;
    }
    .text-h1{
        font-family: 'MADE Mirage';
        font-style: normal;
        font-weight: 700;
        font-size: 36px;
        line-height: 47px;
        /* identical to box height */
        color: #FDFDFD;
    }
    .head{
        height: 134px;
    }
    .children-head-right{
        float:right;
        display: none;
    }
    .children-head-left{
        float: left;
        margin-top: 44px;
        width: 100%;
    }
    .image-panel {
        height: 185px;
        padding-top: 85px;
        background-image: url("../../source/image/admin_page/1828bc1428643b0afbc89ab3121094b9.jpeg");
    }
    .image-panel .text-h1{
        font-size: 56px;
    }
    .image-panel .text-normal{
        font-size: 16px;
        line-height: 65px;
    }
}

.text-center{
    text-align: center;
}